<h4>Example: Complex Data</h4>

<p>Challenge Name: {{name}}</p>

<p>Start Date: {{startDate}}</p>

<p>End Date: {{endDate}}</p>

<p>Prize Money: {{prize}}</p>

<p>Activities:</p>
<ul>
    {{#each activities}}
        <li>{{this}}</li>
    {{/each}}
</ul>
