<h4>Example: Logic</h4>

{{#if author}}
    <h1>{{author.firstName}} {{author.lastName}}</h1>
{{/if}}

{{#if publisher}}
    <h1>{{publisher.name}} {{publisher.city}} {{publisher.state}}</h1>
{{/if}}
